name: Trivy Security Scan (Docker)

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  trivy_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Pull Trivy Docker Image
        run: |
          docker pull aquasec/trivy:latest

      - name: Trivy Filesystem Scan (Do Not Fail Pipeline Yet)
        run: |
          docker run --rm \
            -v "${{ github.workspace }}:/project" \
            aquasec/trivy:latest fs \
            --severity HIGH,CRITICAL \
            --exit-code 0 \
            --no-progress /project